.top{
    background-image: url(../images/space2.bmp);
    background-position: center;
    height: 400px;
    background-repeat: no-repeat;
    margin: -10px -10px 0 -10px;
}
*{
    box-sizing: border-box;
    border: 1px solid white;
}

img{
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
h1{
   width: max-content;
   margin: 0 auto;
   margin-top: 100px;
}
/*dropdown css content*/
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #313840;
    width: max-content;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a{
    color: black;
    display: block;
    border-radius: 5px;
    text-decoration: none; 
}

.dropdown:hover .dropdown-content{
    display: block;
}

.drop-button{
    background-color: hsla(270, 20%, 20%, 0);
    margin: 5px 0px 5px 5px;
    font-size: 15px;
    font-weight: 600;
    cursor:pointer;
    text-decoration: none;
    border: none;
    color: #EDA98D;
}

.drop-button:hover{
    color: peachpuff;
    transition-duration: .5s;
}

.anchor{
    margin: 7px;
}

.anchor:hover{
    transition-duration: .5s;
}
/*nav positining*/
nav{
    position: relative;
    width:30%;
   float: right;
   
}
.nav-button{
   height: max-content;
    position: relative;
    float: right;
    color: white;
    font-size: 20px;
    background-color: hsla(270, 20%, 20%, 0);
    margin-top: 10px;
    margin-right: 10px;
}
/*content*/
.content{
    background-color: #BB1C05;
    color: white;
}